extends layout

block content
    .content-head
        input#search(type='search', placeholder='SEARCH...')
        span
            | 搜索到
            em ｘ
            | 个结果
    .content-middle
    .content-foot
        button.add 添加
        #page.m-pagination
    script(src='javascripts/jquery-2.1.4.min.js')
    script(src='javascripts/mricode.pagination.js')
    script(src='javascripts/main.js')
